#profile-pic {
    position: absolute;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.profile {
    display: flex;
    justify-content: center;
    height: 120px;
}
nav{
    display: flex;
    width: 100vw;
    height: 120px;
    justify-content: center;
    align-items: flex-end;

}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: rgb(51,51,51);
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-img {
    width: 100%;
}
header {
    background-color: lightblue;
    font-size: 26px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 500px;
}



a{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: rgb(51,51,51);
    line-height: 24px;
    padding-right: 20px;
    padding-left: 20px;
    width: 130;
}

h1 {    
    font-size: 36px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: 'Roboto Slab', serif;

}

  article{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 66.67vh; 

  }
  ol {
    padding-left: 0px;
    margin: 0px;
  }
  li {
   padding-left: 40px;
  }