
/* --- CSS: Sorted by section and relative inheritance --- */

/* ------------ HEADER --------------- */
header {
    background-color: lightblue;
    font-size: 26px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    height: 500px;
    background: linear-gradient(rgb(25, 7, 232), rgba(150, 8, 145, 0.524)), url('https://media.timeout.com/images/105451853/750/422/image.jpg');
    background-size: cover;
}
h1 {    
    font-size: 36px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: 'Roboto Slab', serif;

}
/* ------------ AUTHOR PROFILE --------------- */
#profile-pic {
    width: 120;
    height: 120px;
    position: absolute;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.profile {
    display: flex;
    justify-content: center;
    height: 120px;
}

nav{
    display: flex;
    width: 100vw;
    height: 120px;
    justify-content: center;
    align-items: flex-end;

}
.navi-info{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    color: rgb(51,51,51);
    line-height: 24px;
    padding-right: 20px;
    padding-left: 20px;
    width: 130;
}
/* ------------ BODY --------------- */

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

/* ------------ ARTICLE --------------- */

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 60px;
    
}
article{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 60px;
    padding-bottom: 60px;
    width: 66.67vh; 

  }
ol {
    padding-left: 0px;
    margin: 0px;
}
li {
   padding-left: 40px;
}

p {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: rgb(51,51,51);
    margin-top: 20px;
    margin-bottom: 20px;
}

.post-img {
    width: 100%;
}

 