#pic {
    display: flex;
    background: gray;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
}

#profile {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 auto;
    width: 200px;
    height: 200px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body {
    margin: 0;
    font-family: 'Roboto Slab', serif;
}

p{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 18px;
    line-height: 32px;
    color: rgb(51,51,51);
}
header {
    background-color: lightblue;
    font-size: 26px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
nav {
    display: flex;
    justify-content: space-around;
    height: 4px;
    padding: 10px;
    align-items: flex-start;
}

a{
    display: flex;
    padding: 5px 5px;
    margin: 2 2;
}

h1 {    
    font-size: 36px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    font-family: 'Roboto Slab', serif;

}
.footer {

    height: 100px;
    width: 100px;
    padding: 100px;
    text-align: center;
    background: #ddd;
    margin: 20px 20px;
  }
  article{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
  }
  li {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }